DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
ADMIN_TOKEN=my_super_secret_token
JWT_ACCESS_MINUTES=1440
FRONTEND_ORIGINS=http://localhost:8080,https://thingkers.pabnabazar.live,https://thingkers.com,https://www.thingkers.com
